<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home-BlogginAPI</title>
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    section{
      height: 100vh;
      width: 100%;
      position: fixed;
    }
    form{
      background-color: #fff;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 25%;
      margin: 15% auto;
      border-radius: 5px;
    }
    .first{
      text-decoration: none;
      margin: 15px 0;
      padding: 8px 28px;
      background-color: red;
      color: white;
      font-weight: bold;
      border-radius: 3px;
    }
    .second{
      text-decoration: none;
      margin: 15px 0;
      padding: 8px 32px;
      background-color: red;
      color: white;
      font-weight: bold;
      border-radius: 3px;
    }
  </style>
</head>
<body>
  <section>
    <form>
      <a href="/register" class="first">Sign Up</a>
      <a href="/login" class="second">Log In</a>
    </form>
  </section>
</body>
</html>